<th:block xmlns:th="http://www.thymeleaf.org"
	th:fragment="cheat_form_fragment(buttons)">
	<div class="container bg-light border rounded m-4 p-3">
		<form  method="post" th:object="${form}">
			<div th:if="${errors!=null&&!errors.isEmpty()}"
				th:each="error : ${errors}">
				<div class="alert alert-danger m-1 p-2"
					th:text="${error.getDefaultMessage()}"></div>
			</div>
			<input type="text" th:field="*{id}" class="d-none"></input>
			<div class="mb-3 col-8">
				<label class="form-label fw-bold">タイトル</label><span class="ms-2 badge bg-danger">必須</span>
				<input class="form-control form-control-lg"
					type="text" th:field="*{title}" maxlength='50'></input>
			</div>
			<div class="mb-3">
				<label class="form-label fw-bold">コード</label><span class="ms-2 badge bg-danger">必須</span>
				<textarea class="form-control" rows="15" th:field="*{code}"></textarea>
			</div>
			<div class="mb-3">
				<label class="form-label fw-bold text-">詳細</label>
				<textarea class="form-control" rows="6" th:field="*{detail}"></textarea>
			</div>
			<div class="btn-toolbar justify-content-between">
				<!-- ボタン -->
				<th:block th:replace="${buttons}" />
			</div>
		</form>
	</div>
</th:block>

