<head xmlns:th="http://www.thymeleaf.org"
	th:fragment="head_fragment(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<!-- bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
	crossorigin="anonymous"></script>
<!-- 全画面共通のcssを定義します -->
<link th:href="@{/css/base.css}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
<!-- 全画面共通のscriptを定義します -->
<script
	src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
	
	<!-- copy -->
    <script>
    // TODO
        function copyToClipboard(id) {
            // コピー対象をJavaScript上で変数として定義する
            var text = document.getElementById(id).innerText;
            navigator.clipboard.writeText(text);
            // コピーをお知らせする
            alert("コピー");
        }
    </script>
</head>
