<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="nav_fragment">
	<nav class="navbar navbar-light bg-success sticky-top box-shadow-under navbar-expand-md">
		<div class="container-xl">
			<div class="ms-4">
				<a class="btn p-0 fw-bold text-light fs-3" th:href="@{/}"><i class="fas fa-ghost me-1"></i>Relearn</a>
			</div>
			<!-- 検索ボタン -->
			<form class="d-flex d-none d-md-block" target="get" action="search">
				<div class="input-group">
					<input name="q" class="form-control" type="text"
						placeholder="Search code..."
						th:value="${searchForm!=null?searchForm.q:''}">
					<button
						class="btn btn-outline-light" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>
			<!-- ハンバーガー -->
			<div class="d-md-none">
			    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			    </button>
			</div>
		</div>
	</nav>
	<!-- ハンバーガーの中身 -->
	<div class="collapse navbar-collapse sticky-top bg-white" id="nav-bar">
		<div class="navbar-nav border">
			<!-- 検索 -->
			<div class="nav-item">
				<form target="get" action="search">
					<div class="input-group p-3">
						<input name="q" class="form-control" type="text"
							placeholder="Search code..."
							th:value="${searchForm!=null?searchForm.q:''}">
						<button
							class="btn btn-outline-success" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</form>
			</div>
			<!-- 追加ボタン -->
			<div class="nav-item d-flex justify-content-center">
				<a class="btn btn-outline-success col-10" th:href="@{/add}">
					<i class="fas fa-plus pe-3"></i> <span class="fw-bold">新規作成</span>
				</a>
			</div>
			<div>
				<ul class="list-unstyled">
					<li class="nav-item d-flex justify-content-center">
						<a class="btn btn-outline-info mt-1 fw-bold col-10" th:href="@{tag/list}">
							<i class="fas fa-tags"></i><span class="p-3 fw-bold">タグ一覧</span>
						</a>
					</li>
					<li class="nav-item d-flex justify-content-center" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-outline-danger mt-1 fw-bold col-10" th:href="@{admin}">
							<i class="fas fa-wrench pe-3"></i>管理画面
						</a>
					</li>
					<li class="nav-item d-flex justify-content-center">
						<form class="col-10" th:action="@{/changepassword}" method="get">
							<button class="btn btn-outline-warning mt-1 fw-bold w-100" type="submit">
							<i class="fas fa-lock pe-3"></i>
							<span th:text="パスワード変更"></span>
							</button>
						</form>
					<li>
					<li class="nav-item d-flex justify-content-center">
						<form class="col-10" th:action="@{/logout}" method="post">
							<button class="btn btn-outline-secondary mt-1 fw-bold w-100" type="submit">
								<i class="fas fa-sign-out-alt pe-3"></i>
								<span th:text="${#httpServletRequest.remoteUser}+'からログアウト'"></span>
							</button>
						</form>
					</li>
				</ul>
			</div>
			<div class="nav-item d-flex justify-content-center">
				<div class="border border-bottom-0 rounded-top pe-5 ps-5 bg-light" data-bs-toggle="collapse" data-bs-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-angle-up"></i>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>