<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="nav_fragment">
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="btn btn-info stretched-link" th:href="@{/}">Top</a>
			<form th:action="@{/search}" class="d-flex" method="get">
				<input name="q" class="form-control me-2" type="text"
					placeholder="Search cheat...">
				<button class="btn btn-outline-success" type="submit">検索</button>
			</form>
			<a class="btn btn-primary stretched-link" th:href="@{/add}">+</a>
		</div>
	</nav>
</th:block>