<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="nav_fragment">
	<nav class="navbar navbar-light bg-light border-bottom">
		<div class="container-fluid">
			<a class="btn btn-secondary" th:href="@{/}">Code Cheat!</a>
			<div class="d-grid col-6 mx-auto">
				<a class="btn btn-outline-dark" th:href="@{/add}"><i
					class="fas fa-plus"></i></a>
			</div>
			<form th:action="@{/search}" class="d-flex" method="get">
				<div class="input-group">
					<input name="q" class="form-control" type="text"
						placeholder="Search cheat..." aria-describedby="search-button">
					<button class="btn btn-outline-dark" type="submit" id="search-button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>
		</div>
	</nav>
</th:block>