<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'タグ一覧')">
</head>
<body>
	<!-- nav -->
	<div th:replace="common/nav :: nav_fragment"></div>
	<div class="container-md">
		<a class="btn btn-outline-success rounded-pill mt-3" th:href="@{add}">
			<i class="fas fa-plus"></i><span class="p-3 fw-bold">タグ追加</span>
		</a>
		<div th:each="tag : ${tags}" th:object="${tag}">
			<div th:text="*{name}" class="badge rounded-pill" 
				th:style="'background-color: ' + *{color}"></div>
		</div>
	</div>
</body>
</html>