<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'タグ一覧',links = ~{})">
</head>
<body>
	<!-- nav -->
	<div th:replace="common/nav :: nav_fragment"></div>
	<div class="container-md">
		<a class="btn btn-outline-success rounded-pill m-4" th:href="@{add}">
			<i class="fas fa-plus"></i><span class="p-3 fw-bold">タグ追加</span>
		</a>
		<div th:each="tag : ${tags}" th:object="${tag}">
			<form th:action="@{edit}" method="post">
				<input class="d-none" type="text" name="id" th:value="*{id}"></input>
				<div>
					<button type="submit" class="btn"><i class="fas fa-pen text-secondary"></i></button>
					<div th:text="*{name}" class="badge rounded-pill mt-2 fs-5" 
						th:style="'background-color: ' + *{color}" th:classappend="${tag.fontColor}"></div>
				</div>
			</form>	
		</div>
	</div>
</body>
</html>