aside {
	height: calc(100vh - 100px) !important;
	top: 71px !important;
}

.box-shadow-under {
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.hover-action:hover, .stretched-link:hover::after {
	background-color: rgba(100, 100, 100, 0.1) !important;
	border-radius: 50rem !important;
}

.text-small {
	font-size: 0.8rem;
}

.hover-action {
	border-radius: 50rem !important;
}

.dropdown-menu {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .6);
	transform: none !important;
}

.dropdown-menu[style] {
	right: 100% !important;
}

.btn {
	white-space: nowrap;
}

.prettyprint {
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace !important;
	white-space: pre-wrap;
	font-size: 80% !important;
}

.prettyprint ol.linenums>li {
	list-style-type: decimal;
	color: #656d78 !important;
}

table {
	width: 100%;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-all;
}

.detail {
	white-space: pre-wrap;
}

.expansion {
	background: linear-gradient(to top, #333 20%, rgba(255, 0, 0, 0));
	border: none;
	cursor: pointer;
	outline: none;
	text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0
		black;
}

.flow-text {
	display: inline-block;
	font-size: 130%;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 10px #777, -2px 2px 10px #777, 2px -2px 10px #777,
		-2px -2px 10px #777;
}

.horizontal-list {
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.item {
	/* 横スクロール用 */
	display: inline-block;
}
.toast-msg{
    position: fixed;
    top: 10px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 15px;
    padding: 8px 15px;
    border: none;
    z-index: 10000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 13px;
}
.lines{
	width: 30px!important;
}