<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>パスワード変更</title>
    </head>
    <body>
        <div th:if="${errors!=null&&!errors.isEmpty()}"	th:each="error : ${errors}">
				<div th:text="${error.getDefaultMessage()}"></div>
		</div>
        <form th:action="@{/changepassword}" method="post" th:object="${form}">
            <div><label> 現パスワード: <input type="password" th:field="*{oldPassword}"/> </label></div>
            <div><label> 新パスワード: <input type="password" th:field="*{newPassword}"/> </label></div>
            <div><label> 新パスワード（確認）: <input type="password" th:field="*{checkNewPassword}"/> </label></div>
            <div><input type="submit" value="変更"/></div>
        </form>
    </body>
</html>
