<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'HOME')">
</head>
<body>
	<!-- nav -->
	<div th:replace="common/nav :: nav_fragment"></div>

	<div class="container-xl d-flex flex-row">
		
			<!-- サイドバー -->
			<aside class="d-none d-md-block col-2 border-end sticky-top">
				<div class="d-flex flex-column h-100 m-2">
				<!-- 追加ボタン -->
				<a class="btn btn-outline-success rounded-pill mt-3" th:href="@{/add}">
					<i class="fas fa-plus"></i> <span class="p-3 fw-bold">新規作成</span>
				</a>
				
				<!-- タグ一覧 -->
				<a class="btn btn-outline-secondary rounded-pill mt-3" th:href="@{tag/list}">
					<i class="fas fa-tags"></i><span class="p-3 fw-bold">タグ一覧</span>
				</a>
				<ul class="list-unstyled">
					<th:block th:each="tag : ${tags}" th:object="${tag}">
						<li><a class="text-decoration-none" th:href="@{search(tagId=*{id},q=${searchForm.q})}"> <i
								class="fas fa-tag fa-xs" th:style="'color: ' + *{color}"></i> <span
								class="text-secondary fs-5" th:text="*{name}"></span>
						</a></li>
					</th:block>
				</ul>
				
				<!-- ユーザー情報 -->
				<div class="d-flex position-relative align-items-center user-info mt-auto">
					<!-- アイコン -->
					<div>
						<i class="fas fa-user-circle fa-2x"></i>
					</div>
					<!-- 名前・ID -->
					<div>
						<div class="ps-1 fw-bold pt-3"
							th:text="${#httpServletRequest.remoteUser}"></div>
						<div class="text-secondary">@------</div>
					</div>
					<!-- ドロップダウン -->
					<div class="align-self-start">
						<a class="btn stretched-link" type="button" id="MenuUser"
							data-bs-toggle="dropdown" aria-expanded="false"> <i
							class="fas fa-ellipsis-v fa-sm text-secondary"></i>
						</a>
						<ul class="dropdown-menu" aria-labelledby="MenuUser">
							<li><button type="submit" formaction="/edit"
									class="btn btn-link dropdown-item">
									<i class="fas fa-edit text-secondary p-1"></i>XXX
								</button></li>
							<li><button type="submit" formaction="/"
									class="btn btn-link dropdown-item">
									<i class="fas fa-share text-secondary p-1"></i>XXX
								</button></li>
							<li><hr class="dropdown-divider"></li>
							<!-- ログアウトボタン -->
							<li>
								<form th:action="@{/logout}" method="post">
									<input class="btn btn-link dropdown-item" type="submit"
										th:value="${#httpServletRequest.remoteUser}+'からログアウト'" />
								</form>
							</li>
						</ul>
					</div>
				</div>
				</div>
			</aside>
			
			<!-- 一覧 -->
			<main class="d-flex flex-column col-md-10 col-12" 
				th:with="searchTag=${@tagUtil.getTag(tags, searchForm.tagId)}, q=${searchForm.q}">
				<div th:if="${searchTag!=null||q!=null}" class="d-flex flex-column border bg-light rounded m-2 p-1">
					<span><i class="fas fa-search text-dark m-auto"></i></span>
					<div th:if="${searchTag!=null}">
						<span class="text-small font-monospace">タグ：</span>
						<a th:href="@{search(tagId=null, q=${q})}" class="text-decoration-none">
							<span class="ms-1 badge rounded-pill" 
											th:style="'background-color: ' + ${searchTag.color}">
											<span th:text="${searchTag.name}"></span>
											<i class="fas fa-times ms-2"></i>
							</span>
						</a>
					</div>
					<th:block th:if="${q!=null}">
						<div>
							<span class="text-small font-monospace">含む：</span>
							<th:block th:each="word : ${searchForm.searchWords}">
								<a th:href="@{search(exclusionWord=${word})}" class="text-decoration-none">
									<span class="ms-1 badge border border-dark text-dark rounded">
													<span th:text="${word}"></span>
													<i class="fas fa-times ms-2"></i>
									</span>
								</a>
							</th:block>
						</div>
						<div>
							<span class="text-small font-monospace">除外：</span>
							<th:block th:each="word : ${searchForm.notSearchWords}">
								<a th:href="@{search(exclusionWord=${word})}" class="text-decoration-none">
									<span class="ms-1 badge border border-danger text-dark rounded">
													<span th:text="${word}"></span>
													<i class="fas fa-times ms-2"></i>
									</span>
								</a>
							</th:block>
						</div>
					</th:block>
				</div>
				
				<!-- データが無い場合 -->
				<div class="text-center" th:unless="${cheats != null and cheats.getContent().size() > 0}">
					<div class="m-5 text-secondary faa-float animated">
						<div>
							<i class="fas fa-question fa-2x faa-shake animated"></i>
						</div>
						<div>
							<i class="fas fa-ghost fa-5x"></i>
						</div>
					</div>
					<div th:if="${@URL.HOME.equals(currentUrl)}">
						<a class="m-2 btn btn-outline-success rounded-pill m-3" th:href="@{/add}">
							<i class="fas fa-plus"></i> <span class="p-3 fw-bold">新規作成</span>
						</a>
						<div class="text-secondary">データが存在しないようです</div>
						<div class="text-secondary">上のボタンからコードを追加してみよう！</div>
					</div>
					<div th:if="${@URL.SEARCH_CHEAT.equals(currentUrl)}"></div>
					<div class="text-secondary"
						th:text="検索条件に一致する結果は見つかりませんでした">
					</div>
				</div>
				<!-- データがある場合 -->
				<div th:if="${cheats != null and cheats.getContent().size() > 0}">
					<div class="text-center p-2">
						<span class="text-secondary" th:text="${cheats.number+1}+'/'+${cheats.totalPages}+'ページ'"></span>
					     <span class="text-secondary" th:text="'（全'+${cheats.totalElements}+'件）'"></span>
					</div>
					<div class="border-top p-3" th:each="cheat : ${cheats}" th:object="${cheat}">
						<div class="p-1 btn-toolbar justify-content-between">
							<div>
								<!-- タグ -->
								<th:block th:unless="${cheat.tagId == null}">
									<th:block th:with="tag=${@tagUtil.getTag(tags, cheat.tagId)}">
										<div th:unless="${tag == null}" th:text="${tag.name}" class="badge rounded-pill" 
										th:style="'background-color: ' + ${tag.color}" th:classappend="${tag.fontColor}"></div>
									</th:block>
								</th:block>
							</div>
							<form method="post">
								<input class="d-none" type="text" name="id" th:value="*{id}"></input>
								<!-- データ操作ボタン -->
								<div class="dropdown">
									<div class="btn-group dropstart">
										<button class="btn ml-auto hover-action" type="button"
											th:id="'MenuButton' + *{id}" data-bs-toggle="dropdown"
											aria-expanded="false">
											<i class="fas fa-ellipsis-v text-secondary"></i>
										</button>
										<ul class="dropdown-menu"
											th:aria-labelledby="'MenuButton' + *{id}">
											<li><button type="submit" formaction="/edit"
													class="btn btn-link dropdown-item">
													<i class="fas fa-edit text-secondary p-1"></i>編集
												</button></li>
											<li><button type="submit" formaction="/"
													class="btn btn-link dropdown-item">
													<i class="fas fa-share text-secondary p-1"></i>共有
												</button></li>
											<li><hr class="dropdown-divider"></li>
											<li><button type="submit" formaction="/delete"
													class="btn btn-link dropdown-item">
													<i class="fas fa-trash-alt text-danger p-1"></i>削除
												</button></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
						<div class="col-11 mx-auto">
							<div class="mb-1">
								<span th:text="*{title}" class="fs-5 fw-bold"></span>
							</div>
							<pre class="text-break m-0 detail" th:utext="*{escapeDetail}"></pre>
							<div>
								<div th:unless="*{code == null || ''.equals(code)}" class="container-fluid p-0 m-0 position-relative">
									<pre
										class="m-0 p-1 code prettyprint linenums rounded text-break"
										th:text="*{shortCode}"></pre>
									<th:block th:if="*{codeOverflow}">
										<div
											th:replace="common/modal :: modal_fragment(body = ~{::.fullcode},id = *{id})">
											<pre
												class="p-1 code fullcode prettyprint linenums rounded text-break"
												th:text="*{code}" th:id="'code'+ *{id}"></pre>
										</div>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- ページネーション -->
				<th:block th:if="${cheats != null and cheats.getContent().size() > 0 and cheats.totalPages > 1}">
			        <nav aria-label="Page navigation" class="d-flex justify-content-center">
							<ul class="pagination">

								<li
									th:class="${cheats.first} ? 'page-item disabled':'page-item'">
									<a class="page-link" th:href="@{${currentUrl}(page=0)}">最初</a>
								</li>

								<li th:unless="${cheats.number} - 6 < 0">・・・</li>

								<li th:each='i : ${#numbers.sequence(0, cheats.totalPages -1)}'
									th:class="(${i} == ${cheats.number})? 'page-item active' : 'page-item'">

									<a
									th:if="(${cheats.number} - 6 < ${i}) and (${cheats.number} + 6 > ${i})"
									class="page-link" th:href="@{${currentUrl}(page=${i})}"> <span
										th:text='${i+1}'>replace</span>
								</a>

								</li>

								<li th:unless="${cheats.number} + 6 > (${cheats.totalPages} - 1)">・・・</li>

								<li th:class="${cheats.last} ? 'page-item disabled':'page-item'">
									<a class="page-link"
									th:href="@{${currentUrl}(page=(${cheats.totalPages} -1))}">最後</a>
								</li>
							</ul>
						</nav>
			    </th:block>
			</main>
		</div>
</body>
</html>