<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'HOME')">
</head>
<body>
	<!-- nav -->
	<div th:replace="common/nav :: nav_fragment"></div>
	<div class="container-fluid">
		<table
			class="table table-hover table-secondary table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col" class="col-2">タイトル</th>
					<th scope="col" class="col-9">コード・メモ</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${!#lists.isEmpty(cheats)}" th:each="cheat : ${cheats}"
					th:object="${cheat}">
					<td><h5 th:text="*{title}"></h5> <span
						class="badge rounded-pill bg-secondary text-light">タグ（仮）TODO</span>
						<div class="d-flex">
							<a th:href="@{/edit(id=*{id})}" class="btn btn-light m-1">編集</a>
							<form method="post" action="/delete">
								<input class="d-none" type="text" name="id" th:value="*{id}"></input>
								<button type="submit" class="btn btn-danger m-1 mt-auto">削除</button>
							</form>
						</div></td>
					<td class="p-0"><pre class="p-1 code prettyprint linenums"
							th:text="*{shortCode}"></pre>
						<th:block th:if="*{codeOverflow}">
							<div
								th:replace="common/modal :: modal_fragment(body = ~{::.fullcode},id = *{id})">
								<pre class="p-1 code fullcode prettyprint linenums"
									th:text="*{code}"></pre>
							</div>
						</th:block> <pre class="p-2 detail" th:utext="*{escapeDetail}"></pre></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>