<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/head :: head_fragment(title = 'ログイン',links = ~{::link})">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
	<div id="login">
		<form th:action="@{/login}" method="post">
			<div class="fs-2 fw-bold pt-3 pb-4 text-center text-success">
				<i class="fas fa-ghost me-1"></i>Relearn[β]
			</div>
			<span class="fontawesome-user"></span>
			<input type="text" name="username" placeholder="ユーザー名">
			<span class="fontawesome-lock"></span>
			<input type="password" name="password" placeholder="パスワード">
			<input type="submit" value="ログイン">
			<div class="pt-3 d-flex fw-bold">
				<a class="text-secondary text-decoration-none" th:href="@{/top}">≪TOP</a>
				<a class="text-secondary text-decoration-none ms-auto" th:href="@{/signup}">SignUp≫</a>
			</div>
		</form>
		<div class="d-flex justify-content-center">
			<div th:if="${param.error}" class="text-danger">ユーザー名またはパスワードが一致しません。</div>
			<div th:if="${param.logout}" class="text-info">ログアウトしました。</div>
		</div>
	</div>
</body>
</html>
