<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '共有',links = ~{})">
</head>
<body>
	<!-- nav -->
	<div th:replace="common/nav :: nav_fragment"></div>
	<div class="container">
		<button type="button" class="btn btn-success fw-bold m-2" th:onclick="copy(location.href)">URLコピー</button>
		<div class="row mx-auto" th:object="${cheat}">
			<div class="mb-3">
				<span th:text="*{title}" class="fs-2 fw-bold text-decoration-underline"></span>
			</div>
			<input th:name="detail" type="hidden">
			<div class="bg-white" id="editor-container" th:text="*{detail}"></div>
		</div>
	</div>
	<script>
			var quill = new Quill('#editor-container', {
				modules: {
					toolbar: false,
					syntax: true
				  },
				  readOnly: true,
				  theme: 'snow'
			});
			
			// 初期表示
			window.onload = function(){
				// JSONのデータをquillに戻す
				var editor = document.querySelector('#editor-container');
				if(editor.textContent!==''){
					try {
						quill.setContents(JSON.parse(editor.textContent));
					}catch(e){
					}
				}
			}
	</script>
</body>
</html>