<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Top</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<link th:href="@{/css/top.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/top.js}"></script>
</head>
<body>
	<div class="content-center">
		<h1>
			Relearn is <span class="txt-rotate" data-period="2000" data-rotate='[ "note?", "memo?", "freedom!" ]'></span>
		</h1>
		<a th:href="@{/login}">Login</a>
		<a class="content-right" th:href="@{/signup}">SignUp</a>
	</div>
</body>
</html>