<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.local.cheat.mapper.CheatMapper">

<select id="search" resultType="Cheat">
select * from cheat 
where user_id=#{userId} 
<if test="form.q != null">
and (title like '%'||#{form.q}||'%' or code like '%'||#{form.q}||'%' or detail like '%'||#{form.q}||'%') 
</if>
<if test="form.tagId != null">
and (tag_id=#{form.tagId}) 
</if>
order by id desc limit #{pageable.pageSize} 
offset #{pageable.offset}
</select>
  
<select id="searchCount" resultType="int">
select count(*) from cheat 
where user_id=#{userId} 
<if test="form.q != null">
and (title like '%'||#{form.q}||'%' or code like '%'||#{form.q}||'%' or detail like '%'||#{form.q}||'%') 
</if>
<if test="form.tagId != null">
and (tag_id=#{form.tagId})
</if>
</select>

</mapper>